body{
    background-color: #2D54FA;
    font-family: sans-serif;
    padding: 4em;
}

a{
    text-decoration: none;
}

.fondoBlanco{
    border: 20px solid white;
    border-radius: 1em;
    background-color: white;
}

.textoI{
    text-align: center;
    font-size: 1.6em;
    color: palevioletred;
}

.fondoMorado{
    background-color: #ccafcf;
}

.div1{
    padding: 1em;
}
