body{
    background-color: #CAABF0;
    font-family: cursive;
    padding: 5%;
}

.encabezado{
    background-color: #BBF09E;
    border-top-left-radius: 50%;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#picture_welcome{
    margin: 2%;
    width: 10%;
    border-radius: 47%;
    display: inline-block;
    border: 1px solid;
}

.encabezado .titulo{
    display: inline-block;
    margin-left: 23%;
    margin-top: 0px;
}
